/* les styles pour le premier style */

/* les typo google font utilisés dans le site */

/* Anton; oswald; lemonada */

 /* font-family: 'Anton' , sans-serif;
    font-family: 'lemonada' ; cursive;
    font-family: 'oswald' , sans-serif; */
    /* background-color: plum; */
    @charset "UTF-8";
    /* les styles pour le premierSITE Nadia karouchiChantier Suresnes */

/* reset simple  */
/* l'étoile signifie tout all */
*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

 /* fin de  reseet simple */
    
    body {
        /* image de fond */
        /* chemin depuis le fichier style.css ; on sort du dossier css puis on rentre dans le dossier img : ../ le chemin pour sortir d'un dossier */
        background-image: url('../img/concrete-texture.png');
font-family: 'oswald' , sans-serif;
    }


/* les titres du site */

h1 {
    /* typo google */
    font-family: 'Anton' , sans-serif;
    /* *taille de typo */

    font-size: 40px;
    /* espacement entres les litres */

     letter-spacing: 1px; 
    /* coleur réference héxadécimale */
    color: #5e4477;
}
h2{
    font-size: 35px;
    color: #2c3e50;
    /* epaisseur des caractères */
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgb(199, 233, 135), 0 0 1em blue, 0 0 0.2em rgb(145, 235, 235);

    /* https://developer.mozilla.org/fr/docs/Web/CSS/text-shadow */
}

/* taille de l'îcone dans h2 */

/* i enfant de h2 , l'îcone sera 150% plus grande que la taille d'origine */
h2 {
    font-size: 150%;
}
h3 {
    font-size: 22px;
    color: rgb(86, 69, 126);
    text-shadow: 1px 1px 2px #2980b9;
}
h4 {
    text-align: center;
    color: mediumseagreen;
    font-size: 22px;
    text-shadow: 1px 2px rgb(223, 167, 221);
}
blockquote {
    font-family: 'lemonada' , cursive;
    font-size: 120%;
}
blockquote i{
    font-size: 350%;
    color: #2a51d1;
    vertical-align: middle;
}

/* a compléter position */
/* header dans la page index */
header {
     height: 175px;
    background-color:#719bc5;
}
/* dans le header; les trois zones suivantes flottent toutes les trois à gauche elles ont une largeur en %, danc une largeur relatives à l'élement parent dans header */

#logo {
    width: 25%;
    float: left;
    background-color: #719bc5;
    /* padding:marge intérieur de l'élement paddin=rembourrage */
    padding: 15px;
   /* le texte */
    text-align: center;
}
#slogan {
    width: 50%;
    float: left;
    background-color: #719bc5;
}
#social {
width: 25%;
float: left;
background-color: #719bc5;
}
#social i{
    /* je change la nature de l'élement i qui est de type inline; en un élement de type block */

    display: block;
    padding: 15px 30px 0 0;

    font-size: 30px;
    text-align: right;
}

/* la class clear pour rétablir le flux */
.clear{
clear: both;
}