/* les styles pour le premier style */

/* les typo google font utilisés dans le site */

/* Anton; oswald; lemonada */

 /* font-family: 'Anton' , sans-serif;
    font-family: 'lemonada' ; cursive;
    font-family: 'oswald' , sans-serif; */
    /* background-color: plum; */
    @charset "UTF-8";
    /* les styles pour le premierSITE Nadia karouchiChantier Suresnes */

/* reset simple  */
/* l'étoile signifie tout all */
*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

 /* fin de  reseet simple */
    
    body {
        /* image de fond */
        /* chemin depuis le fichier style.css ; on sort du dossier css puis on rentre dans le dossier img : ../ le chemin pour sortir d'un dossier */
        background-image: url('../img/concrete-texture.png');
font-family: 'oswald' , sans-serif;
    }


/* les titres du site */

h1 {
    /* typo google */
    font-family: 'Anton' , sans-serif;

    /* *taille de typo */
    font-size: 40px;

    /* espacement entres les lettres */
     letter-spacing: 1px; 

    /* coleur réference héxadécimale */
    color: #2980b9;
}
h2{
    font-size: 40px;
    color: black;
    /* epaisseur des caractères */
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgb(179, 225, 240), 0 0 1em rgb(98, 137, 201), 0 0 0.2em rgba(19, 31, 83, 0.644);

    /* https://developer.mozilla.org/fr/docs/Web/CSS/text-shadow */
}

/* taille de l'îcone dans h2 */

/* i enfant de h2 , l'îcone sera 150% plus grande que la taille d'origine */
h2 i {
    font-size: 150%;
}
h3 {
    font-size: 22px;
    color: rgb(62, 78, 85);
    text-shadow: 1px 1px 2px #2980b9;
}
h4 {
    text-align: center;
    color: mediumseagreen;
    font-size: 22px;
    text-shadow: 1px 2px rgb(223, 167, 221);
}
p {
    padding: 5px;
}
blockquote {
    font-family: 'lemonada' , cursive;
    font-size: 80%;
}
blockquote i{
    font-size: 350%;
    color: #2a51d1;
    vertical-align: middle;
}
/* a compléter position */
/* header dans la page index */
header {
     height: 175px;
     background-color:#719bc5;
}
/* dans le header; les trois zones suivantes flottent toutes les trois à gauche elles ont une largeur en %, danc une largeur relatives à l'élement parent dans header */
#logo {
     width: 25%;
     float: left;
     padding: 15px;
     background-color: #719bc5;
    /* padding:marge intérieur de l'élement padding=rembourrage */
   /* le texte */
     text-align: center;
}
#slogan {
    width: 50%;
    float: left;
    background-color: #719bc5;
}
#social {
    width: 25%;
    float: left;
    background-color: #719bc5;
}
#social i { /* ici on cible un élément i dont le parent à l'id "social" */
    display: block; /* je change la nature de l'élément i qui est de type inline, en un élément de type block */
    padding: 15px 30px 0 0;
    font-size: 30px;
    text-align: right;
}
header a {
    text-decoration: none;
    color: #10828c;
}
/* fin header */
/* la nav. la navigation */
nav {
    height: 70px;
    padding: 15px;
    background-color: #2980b9;
    border-bottom: 8px solid #6acafc;
     /* une bordure en bas */
    text-align: center;
}
nav a{
    margin: 10px;
    padding: 2px 10px;
    background-color: #6acafc;
    border: 2px solid #fff;
    /* arrondi des angles des bordures */
    border-radius: 10px 0;
    font-family: 'oswald', sans-serif;
    font-size: 16px;
    color: #2c3e50;
    text-decoration: none; /* text-decoration: none=>pas decoration sur le texte  et pas de soulignement; */
    transition: 0.5s;/* transition sur la nav a, marche avec le a :hover */
}
nav a:hover{ /* hover une pseudo-class un effet au survol de curseus */
    background-color: #a6d6c3;
    color: #fff;
    /* sa donne coleur quand passe souris dessus */
}
.active {
    background-color: #a6d6c3;
    color: orangered;
}
/* fin navigation */
/* les zones principale*/
main {
    width: 1100px;
    margin: 0 auto;
    /* une coleur en rgba : red green blue avec un canal "alpha" on joue sur la transparence de la coleur rgb  */
    background-color: rgba(178, 178, 178, 0.178);
}
aside {
    height: 250px;
    width: 30%;
    float: left;
    background-color: #a6d6c3;
}
#accueil {
    width: 70%;
    float: left;
}
section {
    margin-top: 50px;
    padding: 20px;
}
footer {
    height: 45px;
    margin-top: 10px;
    padding: 10px;
    background-color: #2980b9;
    text-align: center;
    color: #fff;
}
/* fin des zones principale de la page */
/* le retour de haut de la page */

button {
    position:fixed; /*le bottom est fixé */
    bottom: 40px; /*a 40px du bas de la page*/
    right: 20px;
    /* le bouton n'a pas de bordure */
    border: none; 
     /*il est transparent*/
    background: transparent;
    font-size: 350%;
    color: #2c3e50 ;
}
.selection p {
    margin-bottom: 5px;
    color: greenyellow;
    background-color: orchid;
}
.selection p:first-of-type {
    /* 1er enfant du type désigné*/
background-color: hotpink;
}
.selection p:last-of-type {
    /*dernier élement du type désigné*/
    background-color: #fff;
    width: 300px;
}
.selection p:nth-of-type(4), p:nth-of-type(6)
/*le énième élément dy type désigné*/
{
    background-color: black;
    color: white;
}
.selection *:last-child { 
    font-size: 50px;
}
.selection .zone-a {
    color: purple;
}
.selection .zone-b {
    color: royalblue;
}
.selection div:not(.zone-b) {
background-color: #fff;
font-size: 68px;
}
.selection .zone-b .texte-orange {
    font-size: 35px;
    color: orangered;
}

.selection .zone-d span {
    color: #32ff32;
    font-size: 30px;
    font-style: italic;
}


/*le symbole étoile signifie tout "all" et nous ciblons ici tous les le derniers enfants des éléments qui sont dans la section/*

 /* fin page selecteurs */

/* page des images  */

.img-fond{
    margin-bottom: 20px;
    background: #000 url(../img/fond.jpg) no-repeat;
    background-size: cover;
}

.img-fond p{
    width: 75%;
    margin: 200px auto 250px auto;
    padding: 20px;


    background: rgba(178, 178, 178, 0.178);
    border-radius: 10px;
    font-size: 120%;
}

/* on ne cible que cette image, on la trouve par son chemin dans le fichier html  */
img[src="img/toureiffel.jpg"] {
    /* je change la nature de l'élément inline en block pour lui appliquer la margin automatique  */
    display: block;
    padding: 20px;
    margin: auto;
    background-color: #fff;
}

.au-centre{
    text-align: center;
}

.img-golden{
    margin: 20px;
    border: 5px solid #fff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0,2);
    transition: 1s; /*la durée de l'animation qui fonctionne avec le :hover des deux autres classes*/
}

.img-golden:hover{
    transition: rotate(-7deg);
    border: 15px solid #fff;
}

.rotation-360:hover{
    rotate: (-360deg);
}
/* fin page des images */

/* page tableau */
.tableau table, .tableau td {
    border: 2px solid #205d67;
}
.tableau table {
    width: 80%;
    margin: auto;
    /* padding: 5px; */
    border-collapse: collapse;
}
.tableau td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}
.tableau thead {
    background: #d0e3fa;
    border: 1px solid #2a51d1;
}
.tableau caption {
    height: 50px;
    padding-left: 5px;
    background: #d0e3fa;
    border: 1px solid #2a51d1;
    font-size: 25px;
    text-align: left;
    color: #2a51d1;
}
/* fin page tableau */

/* la page des listes */
ul.fruit {
    /* pour voir tous les types de puces faites CTRL + ESPACE  */
    list-style: none;
}

ul.fruit li {
    display: inline; /* les éléments li sont block par défaut et on change leur nature en élément inline */
    margin: 15px;
}

li .far {
    font-size: 90%;
    color: #2D5C7F;
}
.far:hover {
    font-size: 150%;
    color: blue;
}

ol.fruit-2 {
    margin-top: 2px;
    margin-bottom: 20px;
    list-style-type: upper-roman;
}
.imbriquee, .imbriquee ul {
    padding-left: 40px;
    background-color: rgb(230, 221, 221);
}
.imbriquee {
    cursor: pointer;
}
.imbriquee ul {
    display: none;
}
.affiche:hover ul {
display: block;
}
/* ici nous ciblons les li (au survol de la souris) qui sont dans une ul; imbriquée dans des li, eux-même enfants d'un élément qui a la classe "imbriquée" */
.imbriquee li ul li:hover {
    display: inline;
    font-size: 150%;
    background-color: #73b5d8;
    box-shadow: 5px 10px 10px grey;
    transition-duration: 0.5s;
}
/* fin listes */

/* page de lien */

/* les ancres en haut de la page */
.ancre {
    text-align: center;
    padding: 100px;
}
.ancre a {
    margin: 8px;
    padding: 5px 10px;
    background: #2c3e50;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 3px black;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.ancre a:hover {
    box-shadow: none;
    text-shadow: 1px 5px 5px rgb(255, 255, 255);
    transition-duration: 0.5s;
}
/* la nav dans l'id menu */
#menu nav{
    background: transparent;border: none;
}
#menu ul {
    list-style: none;
    text-align: center;
}
#menu ul li {
    display: inline-block;
}
#menu nav a {
    padding: 10px;
    background: #ddd;
    color: grey;
    text-decoration: none;
    transition: 1s ease-in;
}
#menu nav a:hover {
    background: #069;
    color: #fff;
}

/* le menu déroulant */
/* la hauteur de la séction qui contient le menu */

#menu-deroulant {
    height: 650px;
}
/* on enlève les styles que l'élémentnav hérite de la nav du site */
#menu-deroulant nav {
    width: 90%;
    margin: 0 auto;
    background: transparent;
    border: none;
}
/* on fait flotter à gauche les li de la ul principal */
#menu-deroulant nav ul li {
    float: left;
    list-style: none;
    width: 20%;  /* largeur */
}
/* les deux ul enfant de la lu principale sont display none on les masque */
#menu-deroulant ul ul {
    display: none;
}

/* les deux ul ont une classe niveau-2 et sur le hover des li qui contiennent ces ul on display block on les fait réapparaître */

#menu-deroulant nav ul.niveau-1 li.sous-menu:hover ul.niveau-2{
    display: block;
}
#menu-deroulant nav ul li ul li {
    border-top: 1px solid #333;
    width: 100%;
}
/* border-top: 1px solid #333; c les lignes tous fine et continuer */

#menu-deroulant nav li {
    background: #ccc;
}
#menu-deroulant nav li a {
    padding: 4px 0 4px;
    display: block;
}
#menu-deroulant ul {
text-align: center;
}
/* formulaire */
form {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0 20px 100px;

    background:#80bceb;
    border-radius: 20px;
}
textarea {
    resize: none;
}
label {
    margin: 20px 10px;
}
/* fin formulaire */

/* multimedia */
/* pour la video youtube */
iframe[src="https://www.youtube-nocookie.com/embed/nkj4RCcR0CY"]{
    width: 100%;
}
/* pour les iframes */
iframe[allowullscreen] {
    width: 100%; /* width==>hauteur */
}
.bordure{
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    border: 10px solid crimson;
}
/* pour la vidéo de fond */
.video-fond {
    padding-left: 0;
    padding-right: 0;
}
.video-fond video {
    position:absolute ;
    width: 80%;
    /* l'empilement de z-index : le 1 est le niveau le plus bas dans l'ordre d'empilement : le z-order*/
    z-index: 1;
}


/* Un élément positionné de façon absolue est un élément dont la propriété de position calculée est absolute ou fixed. Dans ce cas, les propriétés top, bottom, right et left indiquent les distances entre les bords de l'élément et les bords du bloc englobant (c'est-à-dire l'ancêtre par rapport auquel l'élément est positionné). Si l'élément possède des marges, elles sont ajoutées aux décalages. */

.video-texte {
    position: relative;
     /* la position relative permet de décaler un élément par rapport à sa position normale */
    width: 100%;
    height: 500px;
    /* border: darkmagenta 10px solid; */
}
.video-fond p {
    position: absolute;
    z-index: 2;
   width: 500px;
   margin: auto;
   left: 200px;
   top: 200px;
   padding: 20px;
   border-radius: 15px;
   background: rgba(255, 255, 255, 0.60);
   font-size: 120%;
   text-align: center;
}
/* fin page multimedia */

/* page zoning */
/* pour le zoning 1 */
#zoning-1 {
    width: 800px;
    margin: auto;
    color: white;
}
#zoning-1 header {
    text-align: center;
}
#zoning-1 aside {
    height: 525px;
    width: 20%;
    float: left;
    background-color: orchid;
}
#zoning-1 section {
    height: 525px;
    width: 80%;
    float: left;
    margin: 0;
    padding: 0;
    background-color: olivedrab;
}
#zoning-2 {
    width: 800px;
    margin: auto;
    color: white;
    text-align: center;
}
#zoning-2 header {
    text-align: center;
    background-color: #800080;
}  
#zoning-2 aside {
    height: 525px;
    width: 10%;
    float: left;
    background-color: #a6d6c3;
}
#zoning-2 section {
    height: 525px;
    width: 80%;
    float: left;
    margin: 0;
    padding: 0;
    background-color: #ffd6d6;
}

/* pour le zoning 3 */

#zoning-3 {
    width: 800px;
    margin: auto;
}

#zoning-3 section {
    width: 50%;
    min-height: 400px;
    float: left;
}

#zoning-3 .bleu {
   background-color:rgba(142, 142, 231, 0.658);
}

#zoning-3 .rose {
   background-color:pink;
}

#zoning-3 footer {
    margin: 0;
   height: 150px;
   background-color: rgb(173, 233, 104);
}


#zoning-3 div {
   height: 15px;
   margin: 0;
   padding: 0;
   background-color: rgb(216, 145, 83);
}

/* terminer zoning lundi 06 */
/* Page position */
/* position autocentré */
.centre {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-color: #6acafc;
}
/* div en position absolute */
.absolute {
    width: 100px;
    height: 100px;
    top: 25%;
    left: 10%;
    position: absolute;
    background-color: yellow;
}
/* position relative */
.bordure-2 {
    border: 5px solid green;
}
.relative {
    /* relatif au parent dans lequel se trouve le div, ici */
    width: 400px;
    height: 400px;
    background-color: #2980b9;
    position: relative;
    left: 100px;
    bottom: 10px;
}
.relative div {
    width: 100px;
    height: 100px;
    background-color: yellow;
}
.trente {
    font-size: 22px;
    width: 30%;
    background: red;
    padding: 20px;
    color: #10828c;
    }
    
.cinquante {
    font-size: 22px;
    width: 50%;
    background: orangered;
    padding: 20px;
    color: #fff;
    }

.cent {
    font-size: 22px;
    width: 100%;
    background: pink; 
    padding: 20px;  
    color: green; 
    }
    .float {
    float: left;
    height: 170px;
    width: 170px;
    margin: 10px;

    border: 2px solid darkred;
    background: #FFF1A8;
    text-align: center;
    font-size: 25px;
}

.dernier-carre {
    height: 170px;
    width: 170px;
    margin: 10px;

    border: 2px solid darkred;
    background: #FFF1A8;
    text-align: center;
    font-size: 25px;
}

/* la class clear pour rétablir le flux */
    .clear{ 
     clear: both;
}


