@charset "UTF-8";

/* reset simple  */
/* l'étoile signifie tout all */
*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* fin de simple reset */

/* feuille de style pour la page sur l'espagne */
body {
    background-image: url('../css/concrete-texture.png');
}
header {
    background-color: rgb(40, 170, 187);
    text-align: center;
}

h1{
    text-align: center;
}

h2 {
    background-color: rgb(20, 192, 183);
}

nav {
    background-color: rgb(105, 185, 181);
}

main {
    /* background-color: rgba(56, 131, 93, 0.664); */
    background: rgb(192, 231, 238);
    width: 1200px;
    margin: auto;
    height: 500px;
}


article {
    /* background-color: #fff; */
    width: 800px;
    float: left;
}

aside {
    /* background-color: lightgrey; */
width: 400px;
float: left;
}

footer{
    background-color: rgba(55, 230, 192, 0.603);
   text-align: center;
  font-size: 20px;
}

    /* padding: 150px;
    border: 10 px solid blue;
    margin: 150 px;
    width: 500 px;
} */

.clear {
    clear: both;
}

#menu-haut {
    width: 1200px;
    margin:0 auto;
}
#menu-haut ul{
 background-color: #fff;
    width: 800px;
    float: left;
    
}
form{
    background-color: coral;
    width: 400px;
    float: left;
}
