@charset "UTF-8";
/* les styles pour le premierSITE Nadia karouchiChantier Suresnes */

/* reset simple  */
/* l'étoile signifie tout all */
*{
box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

/* fin de  reseet simple */

body{
    text-align: center;
    color: white;
    background-color: #f0fff0;
    /* font-size: 1.1em; */
}
main {
    width: 1200px;
    margin: auto;
    background-color: #fff; 
}
header {
    width: 1200px;
    height: 150px;
    background-color: #ff69b4;
}
aside {
    float: left;
    width: 200px;
    height: 500px;
    background-color: #808000;
}
section {
    float: left;
    width: 800px;
    height: 500px;
    background-color: #ffa500;
}
footer {
    float: left;
    width: 1200px;
    height: 150px;
    background-color: #808080;
}
.clear {
    clear: both;
}
/* h1 taille de typo */
h1 {
    font-size: 1.8em;
}
p {
    font-size: 1.2em;
}
small {
font-size: 0.7em;
}